@model IEnumerable<Login.Models.User>

@{
//ViewBag.Title = "Index";
}

<div style="font-family: Roboto;" class="container w-75">
    <div style="margin-top: 10%; border-radius: 30px;" class="card border-0 shadow">
        <h3 style="font-weight: 600;" class="ms-5 mt-4">Người dùng hệ thống</h3>
        <form class="ms-3 me-3 ">
            <hr style="width: 95%;" class=" mx-auto ">
            <div class="d-flex justify-content-around">
                <div style="width: 20%;" class="mb-3">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div style="width: 20%;" class="mb-3">
                    <label for="" class="form-label">User role</label>
                    <select class="form-select" name="" id="">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div style="width: 20%;" class="mb-3">
                    <label for="" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            <hr style="width: 95%;" class=" mx-auto">
            <div class="d-flex justify-content-between">
                <a style="width: 20%;" href="@Url.Action("Create", "User")">
                    <input style="border:none; border-radius: 30px; color: whitesmoke; background: linear-gradient(90deg, #54BF5A 0%, #228542 100%);" type="button" value="+ Thêm tài khoản" name="submit"
                           class="ms-5 p-2 mb-4" />
                </a>
                <div class="d-flex justify-content-around me-5 w-25">
                    <button style="width: 40%; background: #FFFFFF; color: #2D9147; border: 2px solid #2D9147; border-radius: 30px;"
                            class=" p-2 mb-4" type="submit">
                        Reset
                    </button>
                    <button style="width: 40%; border:none; border-radius: 30px; color: whitesmoke; background: linear-gradient(90deg, #54BF5A 0%, #228542 100%);"
                            class=" p-2 mb-4" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container w-75">
    <div style="border-radius: 20px;" class="card border-0 shadow mt-5">
        <div class="ms-5 me-5 mt-3 d-flex justify-content-between">
            <span>Tài khoản</span>
            <span>Mật khẩu</span>
            <span>Chức vụ</span>
            <span>Action</span>
        </div>
        <hr style="width: 95%" class="mx-auto" />
        @foreach (var item in Model)
        {
            <div class="ms-5 me-5 mt-3 d-flex justify-content-between">
                <span>@Html.DisplayFor(modelItem => item.userName)</span>
                <span>@Html.DisplayFor(modelItem => item.userPass)</span>
                <span>@Html.DisplayFor(modelItem => item.role)</span>
                <span>
                    <a style="text-decoration: none;" href="@Url.Action("Edit", "User",new { id = item.userID })">
                        <i style="color:black;" class="fas fa-sync-alt"></i>
                    </a>
                    <a style="text-decoration: none; margin-left: 5px;" href="@Url.Action("Delete", "User",new { id = item.userID })">
                        <i style="color:black;" class="fas fa-trash-alt"></i>
                    </a>
                </span>
            </div>
            <hr style="width: 95%" class="mx-auto" />
        }
    </div>
</div>
